
<link rel="stylesheet" href="{% static 'css/organization.css' %}">

<h4>1897-1913: Separation of Powers</h4>

<p>In 1897, with new medical advancements and increasing challenges to the moral treatment model, the Corporation decided to create the post of Steward, which would manage all the responsibilities of running the asylum outside of treating the patients. The Corporation believed that placing staffing and operations in a separate position would relieve the superintendent’s workload and allow him to focus on patients.</p>

<div class="tree">

  <ul>
    <li>
      <a title="Until 1888, meetings of the Contributors had been run and presided over by a clerk. After the Asylum was incorporated, the post of president was created to run the yearly meeting of the Corporation and also to oversee the asylum’s affairs.">President of the Corporation</a>
      <ul>
        <li>
          <a title="The treasurer was a member of the Board of Managers who was also responsible for taking up yearly donations from the Contributors and managing the asylum’s finances.">Treasurer</a>
        </li>
        <li>
          <a title="The Corporation functioned similarly to how the Contributors had, at least at first. Members joined either by individual donation or by representing a meeting that donated, and the Corporation met every year to discuss the business of the Asylum. However, the Corporation was no longer exclusively Quaker, as it advertised itself to other potential donors outside of Quaker meetings.">Corporation of Friends Asylum</a>
          <ul>
            <li>
              <a title="The twenty members of Board of Managers were chosen from the Contributors to the Asylum at the yearly meeting of the Contributors. The Board of Managers approved the admission of new patients, and set the weekly admission rate, and supervised the staff and financial spending of Friends Asylum. The Board of Managers also rotated as Visiting Managers, who visited and inspected the asylum once a week, as well as inspecting the superintendent’s account books every month.">Board of Managers</a>
              <ul>
                <li>
                  <a title="After 1897, the superintendent was solely concerned with the patients and with overseeing all the nurses and doctors in the medical department.">Superintendent</a>
                  <ul>
                    <li>
                      <a>Doctors</a>
                    </li>
                    <li>
                      <a title="In the beginning the matron was the superintendent’s wife, though by the end of the 19th century the matron was often appointed. The matron also worked with the superintendent to run the asylum and its farm, and directly oversaw the attendants along with the other staff.">Matron</a>
                      <ul>
                        <li>
                          <a title="By 1894, the attendants who worked with and cared for the patients were expected to be trained nurses, and had become part of the medical department.">Nurses</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a title="The steward was in charge of all the details of the asylum that were not directly related to treating the patients, such as maintaining the building and grounds, running the farm, and directing non-medical staff.">Steward</a>
                  <ul>
                    <li>
                      <a title="Outside of those who worked with the patients, Friends Asylum also hired staff to cook and clean, to maintain the building and grounds, and as needed for specialized roles like coach driving or engineering the heating systems.">Other Staff</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

</div><!-- class="tree" -->
