
<link rel="stylesheet" href="{% static 'css/organization.css' %}">

<h4>1888-1897: Incorporation</h4>

<p>In 1888, Friends Asylum was officially incorporated in Pennsylvania, in order to be more in line with state laws around private organizations. When they officially incorporated, the Contributors to the Asylum were replaced by the Corporation of Friends Asylum for the Insane. The creation of the position of president was a move away from the more egalitarian structure of Quaker meetings, and this period of incorporation can be seen as part of a broader trend of the Asylum becoming more concerned with competing as a business.</p>

<div class="tree">

  <ul>
    <li>
      <a title="Until 1888, meetings of the Contributors had been run and presided over by a clerk. After the Asylum was incorporated, the post of president was created to run the yearly meeting of the Corporation and also to oversee the asylum’s affairs.">President of the Corporation</a>
      <ul>
        <li>
          <a title="The treasurer was a member of the Board of Managers who was also responsible for taking up yearly donations from the Contributors and managing the asylum’s finances.">Treasurer</a>
        </li>
        <li>
          <a title="The Corporation functioned similarly to how the Contributors had, at least at first. Members joined either by individual donation or by representing a meeting that donated, and the Corporation met every year to discuss the business of the Asylum. However, the Corporation was no longer exclusively Quaker, as it advertised itself to other potential donors outside of Quaker meetings.">Corporation of Friends Asylum</a>
          <ul>
            <li>
              <a title="The twenty members of Board of Managers were chosen from the Contributors to the Asylum at the yearly meeting of the Contributors. The Board of Managers approved the admission of new patients, and set the weekly admission rate, and supervised the staff and financial spending of Friends Asylum. The Board of Managers also rotated as Visiting Managers, who visited and inspected the asylum once a week, as well as inspecting the superintendent’s account books every month.">Board of Managers</a>
              <ul>
                <li>
                  <a title="After 1850, the superintendent was expected to have a medical background and was also the head physician, while still retaining his old responsibilities in overseeing staff, running the asylum, and seeing to the wellbeing of the patients.">Superintendent</a>
                  <ul>
                    <li>
                      <a title="In the beginning the matron was the superintendent’s wife, though by the end of the 19th century the matron was often appointed. The matron also worked with the superintendent to run the asylum and its farm, and directly oversaw the attendants along with the other staff.">Matron</a>
                      <ul>
                        <li>
                          <a title="The attendants, also called keepers or caretakers, worked with the patients directly to care for them, supervise them, entertain them, and clean them. Attendants were responsible for the wellbeing of patients, and so Friends Asylum was often concerned with finding trustworthy workers who would approach their duties responsibly and conscientiously.">Attendants</a>
                        </li>
                        <li>
                          <a title="Outside of those who worked with the patients, Friends Asylum also hired staff to cook and clean, to maintain the building and grounds, and as needed for specialized roles like coach driving or engineering the heating systems.">Other Staff</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a title="Assistant physicians were doctors who worked at the asylum to help care for patients, though they had less authority. In the early years, there were only a small number of assistants, their numbers increased as the number of patients and the needs of the asylum increased.">Assistant Physician</a>
                      <ul>
                        <li>
                          <a title="The consulting physicians did not regularly work at the asylum or care for its patients. They were doctors in the Philadelphia area with their own practices, who were retained by the asylum to be called on if specialist expertise was needed for a particular case.">Consulting Physicians</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

</div><!-- class="tree" -->
