
<link rel="stylesheet" href="{% static 'css/organization.css' %}">

<div class="tree">

  <ul>
    <li>
      <a title="Made up of representatives from meetings and individual Quakers who gave a significant amount of money to support Friends Asylum. The Contributors met once a year to make large decisions about the business and welfare of Friends Asylum.">Contributors</a>
      <ul>
        <li>
          <a title="The main organizing body for Quaker meetings in the Philadelphia area, the Philadelphia Yearly Meeting heard Thomas Scattergood’s arguments for a Quaker asylum and helped organize the Contributors before its founding.">Philadelphia Yearly Meeting</a>
          <ul>
            <li>
              <a title="The Managers’ Committee developed a constitution that the asylum would follow and determined how it would carry out its mission.">Managers Committee</a>
            </li>
            <li>
              <a title="The Building Committee was responsible for acquiring and surveying the land for building Friends Asylum, and then designing the architecture and overseeing its construction.">Building Committee</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

</div><!-- class="tree" -->


<h4>1813-1817: Founding</h4>

<p>The proposal by Thomas Scattergood and two Quarterly Meetings in the Philadelphia area to create an asylum that would treat Pennsylvania Quakers was considered by the Yearly Meeting of Philadelphia, until in 1813 the Yearly Meeting officially moved forward with the founding of Friends Asylum, with Quakers who were willing to give money to support the project forming the Contributors to the Asylum. The Managers’ Committee and Building Committee were appointed by the contributors to plan and construct the asylum, until it was able to open for patients in 1817.</p>

