
* {box-sizing: border-box;}

header #primary-nav-bar {
    color: #f2f2f2;
    padding: 0.2em 0.5em;
    background-color: black;
}

header nav a {
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 1em;
}

header nav a:hover {
    background-color: #ddd;
    color: black;
}

/* ################### */
header .header-img img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
}



header .bar-overlay {
    color: black;
    /*padding: 1em;*/
    text-align: center;
}

header .bar-overlay a {
    color: black;
    text-align: center;
    text-decoration: none;
}

header .bar-overlay a:hover {
    color: #f2f2f2;
    text-align: center;
}

header #title {
    text-align: center;
    font-size: 3em;
}

header #secondary-nav-bar {
    /*margin: 1em;*/
    text-align: center;
    font-size: 2em;
}

footer .row {
    clear: both;
    padding: 2em 0 0 0;
    text-align: center;
}

footer .column {
    width: 33%;
    display: inline-block;
}

footer .row:after {
    clear: both;
    display: table;
    content: "";
}

footer .row ul {
    text-align: center;
    list-style-type: none;
    font-size: 1em;
    padding: 0;
}

footer .icons {
    text-align: center;
}

footer .icons a {
    display: inline-block;
}

footer .icons img {
    height: 1.5em;
    background-color: transparent;
}

footer #copyright {
    clear: left;
    text-align: center;
    padding: 1em 0 2em 0;
    text-font: 0.8em;
}






