
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>


<body>

        <!-- TOP NAV -->


<div id="topnav">

  <nav>
    <!-- used to be "Search", but search function is not written yet -->
    <a href="{% url 'home' %}">Home</a> | 
    <a href="{% url 'about' %}">About</a> | 
    <a href="mailto:library@haverford.edu">Contact</a>
  </nav>

</div><!-- id="topnav" -->




        <!-- SIDE BAR -->


<div id="side">

  <!-- img src="{% static 'images/HCLogoRound.jpg' %}" alt="logo of Haverford College" -->

  <h2>Navigation</h2>
<ul>
  <li>
    <span class="collapsible">The Asylum</span>
    <span class="content">
      <ul>
        <li><a href="{% url 'learn_theYorkRetreat' %}" title="The York Retreat">The York Retreat</a></li>
        <li><a href="{% url 'learn_foundation' %}" title="Foundation">Foundation</a></li>
        <li><a href="{% url 'learn_structureAndGovernance' %}" title="Structure &amp; Governance">Structure &amp; Governance</a></li>
        <li><a href="{% url 'learn_changesInAdminOverTime' %}" title="Changes in the Administration Over Time">Changes in the Administration</a></li>
        <li><a href="{% url 'learn_asylumArchitecture' %}" title="Asylum Architecture">Asylum Architecture</li>
        <li><a href="{% url 'learn_gurneyCottage' %}" title="Gurney Cottage">Gurney Cottage</a></li>
        <li><a href="{% url 'learn_trainingOfDoctors' %}" title="Training Of Doctors">Training Of Doctors</a></li>
        <li><a href="{% url 'learn_trainingOfNurses' %}" title="Training Of Nurses">Training Of Nurses</a></li>
        <li><a href="{% url 'learn_genderAndStaff' %}" title="Gender and Staff">Gender and Staff</a></li>
        <li><a href="{% url 'learn_raceAndStaff' %}" title="Race and Staff">Race and Staff</a></li>
        <li><a href="{% url 'learn_philanthropicNetworks' %}" title="Philanthropic Networks">Philanthropic Networks</a></li>
      </ul>
    </span>
  </li>
  <li>
    <span class="collapsible">Treatment</span>
    <span class="content">
      <ul>
        <li><a href="{% url 'learn_typesOfMentalIllness' %}" title="Types Of Mental Illness">Types of Mental Illness</a></li>
        <li><a href="{% url 'learn_moralTreatment' %}" title="Moral Treatment">Moral Treatment</a></li>
        <li><a href="{% url 'learn_occupationalTherapy' %}" title="Occupational Therapy">Occupational Therapy</a></li>
        <li><a href="{% url 'learn_asylumLibrary' %}" title="Asylum Library">Asylum Library</a></li>
        <li><a href="{% url 'learn_medicalTreatment' %}" title="Medical Treatment">Medical Treatment</a></li>
        <li><a href="{% url 'learn_medicalAdvancements' %}" title="Medical Advancements">Medical Advancements</a></li>
        <li><a href="{% url 'learn_genderAndLengthOfStay' %}" title="Gender and Length of Stay">Gender and Length of Stay</a></li>
        <li><a href="{% url 'learn_genderAndTreatment' %}" title="Gender and Treatment">Gender and Treatment</a></li>
        <li><a href="{% url 'learn_moralTreatmentAndFamily' %}" title="Moral Treatment and Family">Moral Treatment and the Family</a></li>
      </ul>
    </span>
  </li>
  <li>
    <span class="collapsible">Patients</span>
    <span class="content">
      <ul>
        <li><a href="{% url 'learn_caseStudies' %}" title="Case Studies">Case Studies</a></li>
        <li><a href="{% url 'learn_patientHometowns' %}" title="Patient Hometowns">Patient Hometowns</a></li>
        <li><a href="{% url 'learn_patientDemographics' %}" title="Patient Demographics">Patient Demographics</a></li>
      </ul>
    </span>
  </li>
  <li>
    <span class="collapsible">Religion</span>
    <span class="content">
      <ul>
        <li><a href="{% url 'learn_mentalHealthAndQuakerTheology' %}" title="Mental Health and Quaker Theology">Mental Health and Quaker Theology</a></li>
        <li><a href="{% url 'learn_religiousLife' %}" title="Religious Life">Religious Life</a></li>
        <li><a href="{% url 'learn_religiousDiversity' %}" title="Religious Diversity">Religious Diversity</a></li>
        <li><a href="{% url 'learn_decisionToAdmitNonQuakers' %}" title="Decision To Admit Non-Quakers">Decision To Admit Non-Quakers</a></li>
        <li><a href="{% url 'learn_theologyAndFamily' %}" title="Theology and Family">Theology and Family</a></li>
      </ul>
    </span>
  </li>
  <li><a class="collapsible" title="open glossary page on a new tab" target="_blank" href="{% url 'glossary' %}">Glossary</a></li>
  <li><a class="collapsible" href="{% url 'bibliography' %}" title="Bibliography">Bibliography</a></li>
</ul>

<script src="{% static 'js/collapsible-menu.js' %}"></script>
<!-- script from: https://www.w3schools.com/howto/howto_js_collapsible.asp -->

  <!-- p style="color: grey;">&copy; Haverford College | 2019</p -->


</div><!-- id="side" -->





        <!-- MAIN SECTION -->

<div id="main">


        <!-- BANNER -->


  <div id="banner">
    <a href="{% url 'home' %}" title="go back to homepage" style="text-decoration: none; color: black;">
      <h1 style="padding: 0;">Quakers &amp; Mental Health</h1>
    </a>
  </div><!-- id="banner" -->





        <!-- BLOCK -->


  <div id="block">
{% block content %}{% endblock %}
  </div><!-- id="block" -->



        <!-- FOOTER -->


<div id="footer">

  <div class="footer-bgcolor"><!-- the background color for footer is set in the corresponding CSS for each page, not in "base.css" -->


        <!-- FOOTER ADDRESSES -->

  <div class="row">
    <div class="column">
      <ul>
        <li><a href="http://library.haverford.edu/places/special-collections">Quaker &amp; Special Collections</a></li>
        <li><a href="library.haverford.edu">Haverford College Libaries</a></li>
        <li>370 Lancaster Avenue</li>
        <li>Haverford, PA 19041</li>
      </ul>
    </div>
    <div class="column">
      <ul>
        <li><a href="http://library.haverford.edu/services/digital-scholarship/">Digital Scholarship</a></li>
        <li><a href="library.haverford.edu">Haverford College Libaries</a></li>
        <li>370 Lancaster Avenue</li>
        <li>Haverford, PA 19041</li>
      </ul>
    </div>
    <div class="column">
      <ul>
        <li><a href="http://www.scattergoodfoundation.org/">The Thomas Scattergood<br>Behavioral Health Foundation</a></li>
        <li>1501 Cherry Street</li>
        <li>Philadelphia, PA 19102 </li>
      </ul>
    </div>
  </div><!-- class="row" -->


        <!-- FOOTER SOCIAL LINKS -->

  <div class="icons">

            <a href ="https://www.facebook.com/hclibraries"><img src="{% static 'icons/facebook.png' %}" alt="facebook icon" title="go to QMH Facebook page"></img></a>
            <a href ="https://twitter.com/HCLibraries"><img src="{% static 'icons/twitter.png' %}" alt="twitter icon" title="go to QMH Twitter page"></img></a>
            <a href ="https://instagram.com/HCLibraries/"><img src="{% static 'icons/insta.png' %}" alt="instagram icon" title="go to QMH Instagram page"></img></a>
            <a href ="https://vimeo.com/hclibraries"><img src="{% static 'icons/vimeo.png' %}" alt="vimeo icon" title="go to QMH Vimeo page"></img></a>
            <a href ="mailto:library@haverford.edu"><img src="{% static 'icons/email.png' %}" alt="emailbox icon" title="mailto: library@haverford.edu"></img></a>


  </div><!-- class="icons" -->


        <!-- FOOTER COPYRIGHT -->

  <div id="copyright">

  <p>
    Quakers &amp; Mental Health is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
  </p>

  <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">
    <img alt="Creative Commons License" style="border-width:0; display: inline-block;" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png">
  </a>

  </div><!-- id="copyright" -->



  </div><!-- class="footer-bgcolor" -->

</div><!-- id="footer" -->





</div><!-- id="main" -->


</body>

</html>
