
{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/learn.css' %}">
<title>Bibliogrpahy &amp; Credits | QMH</title>

<a name="bibliography"><h2>Bibliography &amp; Further Reading</h2></a>

<h4>Archival Sources</h4>
    <ul>
      <li>Bonsall, Isaac. <em>Superintendent’s Day Book</em>, Friends Hospital Records, Quaker and Special Collections, Haverford College, Haverford, Pennsylvania.</li>
      <li>Caleb Cresson Letters, Folder 1, Box 16, Families of Philadelphia Collection, Quaker and Special Collections, Haverford College, Haverford, Pennsylvania.</li>
      <li>Case Histories, Friends Hospital Records, Quaker and Special Collections, Haverford College, Haverford, Pennsylvania.</li>
      <li>Daily Record Books, Friends Hospital Records, Quaker and Special Collections, Haverford College, Haverford, Pennsylvania.</li>
      <li>Medical Registers, Friends Hospital Records, Quaker and Special Collections, Haverford College, Haverford, Pennsylvania.</li>
      <li>Minutes and Register of the Committee of Admission, Friends Hospital Records, Quaker and Special Collections, Haverford College, Haverford, Pennsylvania.</li>
      <li>Minutes of the Contributors to the Asylum, Friends Hospital Records, Quaker and Special Collections, Haverford College, Haverford, Pennsylvania.</li>
      <li>Minutes of the Friends' Asylum Building Committee, Friends Hospital Records, Quaker and Special Collections, Haverford College, Haverford, Pennsylvania.</li>
      <li>Minutes of the Managers, Friends Hospital Records, Quaker and Special Collections, Haverford College, Haverford, Pennsylvania.</li>   
      <li>Minutes of the Visiting Committee, Friends Hospital Records, Quaker and Special Collections, Haverford College, Haverford, Pennsylvania.</li>
      <li>Scull family papers, Quaker and Special Collections, Haverford College, Haverford, Pennsylvania.</li>
      <li>Superintendent’s Daybook, Friends Hospital Records, Quaker and Special Collections, Haverford College, Haverford, Pennsylvania. </li>   
    </ul>


<h4>Published Sources</h4>
    <ul>
      <li><em>Account of the Rise and Progress of the Asylum: Proposed to be Established, near Philadelphia, for the Relief of Persons Deprived of the Use of their Reason. With an Account of the Retreat, a Similar Institution near York, in England</em>. Philadelphia: Kimber and Conrad, 1814.</li> 
      <li>Bucknill, John Charles, and Daniel Hack Tuke. <em>A Manual of Psychological Medicine. Containing the Lunacy Laws, the Nosology, Ætiology, Statistics, Description, Diagnosis, Pathology, and Treatment of Insanity. With an Appendix of Cases</em>. 4th ed. Philadelphia: Lindsay and Blakiston, 1879.</li>
      <li>Cherry, Charles L. <em>A Quiet Haven: Quakers, Moral Treatment, and Asylum Reform</em>. Cranbury: Associated University Presses, 1989.</li>          
      <li>Committee on Mad-houses in England, House of Commons, Great Britain. and James Birch Sharpe. <em>Report . . . from the Committee : Appointed to Consider of Provision Being Made for the Better Regulation of Madhouses in England . . .</em> London: Baldwin Cradock and Joy, 1815.</li>
      <li>D’Antonio, Patricia. <em>Founding Friends: Families, Staff, and Patients at the Friends' Asylum in Early Nineteenth Century Philadelphia</em>. Bethlehem: Lehigh University Press, 2006.</li>
      <li>“Deaf and Dumb.” <em>Philadelphia Recorder</em>, July 10, 1824.</li>
      <li>Digby, Anne. “Moral Treatment at the Retreat, 1796-1846.” In <em>The Anatomy of Madness Volume II</em>, edited by W.F. Bynum, Roy Porter, and Michael Shepherd, 52-72. London: Tavistock Publications, 1985.</li>
      <li>“Dr. Anna Elizabeth Broomall,” <a href="https://cfmedicine.nlm.nih.gov/physicians/biography_45.html" target="_blank">Changing the Face of Medicine.</a></li>
      <li>Eddy, Thomas. “Hints for Introducing an Improved Mode of Treating the Insane in the Asylum.” 1815.</li>
      <li><em>The Family Magazine, Or, Monthly Abstract of General Knowledge</em>. New York: Redfield & Lindsay, 1837.</li>
      <li>Frost, Jerry W. “As the Twig Is Bent: Quaker Ideas of Childhood.” <em>Quaker History</em> 60, no. 2 (1971): 67–87.</li>
      <li><em>Further Information of the Progress of the Asylum for the Relief of Persons Deprived of the Use of Their Reason</em>. Philadelphia: Richardson, 1818.</li>
      <li>Gale, T. <em>Electricity, or Ethereal Fire, Considered</em>. Troy: Moffitt and Lyon, 1802.</li>
      <li>Godlee, Fiona. “Aspects of Non-Conformity: Quakers and the Lunatic Fringe.” In<em> The Anatomy of Madness Volume II</em>, edited by W.F. Bynum, Roy Porter, and Michael Shepherd, 73-82. London: Tavistock Publications, 1985.</li>
      <li>Hamm, Thomas D. <em>The Transformation of American Quakerism: Orthodox Friends, 1800-1907</em>. Bloomington: Indiana University Press, 1988.</li>
      <li>Hastings, William S. “Robert Waln, Jr.: Quaker Satirist and Historian.” <em>The Pennsylvania Magazine of History and Biography</em> 76, no. 1 (1952): 71–80.</li>
      <li>Herlihy, David V. <em>Bicycle: A History</em>. New Haven: Yale University Press, 2004.</li>
      <li>Hurd, Henry, M., William F. Drewry, Richard Dewey, Charles W. Pilgrim, G. Alder Blumer, and T. J. W. Burgess. <em>The Institutional Care of the Insane in the United States and Canada</em>. Baltimore, MD: The Johns Hopkins Press.</li>
      <li>Nash, Gary B. <em>First City: Philadelphia and the Forging of Historical Memory</em>. Philadelphia, PA: University of Pennsylvania Press, 2001.</li>          
      <li>Prichard, James. <em>A Treatise on Insanity and Other Disorders Affecting the Mind</em>. Philadelphia: Haswell, Barrington, and Haswell, 1837.</li>
      <li>Reiss, Benjamin. <em>Theaters of Madness: Insane Asylums and Nineteenth-Century American Culture</em>. Chicago: University of Chicago Press, 2008.</li>         
      <li>Rush, Benjamin. <em>Medical Inquiries and Observations, upon the Diseases of the Mind</em>. Philadelphia: Kimber & Richardson, 1812.</li>
      <li>Scull, Andrew. <em>Madness in Civilization: A Cultural History of Insanity, from the Bible to Freud, from the Madhouse to Modern Medicine</em>. Princeton: Princeton University Press, 2015.</li>
      <li>Spurzheim, Johann Christoph. <em> Observations on the Deranged Manifestations of the Mind, or Insanity</em>. Gainesville, FL: Scholars’ Facsimiles and Reprints, 1970.</li>
      <li>Toll, Jean Barth, and Mildred S. Gillam, eds. <em>Invisible Philadelphia: Community through Voluntary Organizations</em>. Philadelphia: Atwater Kent Museum, 1995.</li>
      <li>Tuke, Samuel. <em>Description of the Retreat, An Institution Near York for Insane Persons of the Religious Society of Friends, Containing an Account of its Origin and Progress, the Modes of Treatment, and a Statement of Cases</em>. London: Dawsons of Pall Mall, 1813.</li>
      <li>“Vision: A Transformative Voice for the 21st Century.” <em>ScattergoodFoundation.org</em>, 2016. http://www.scattergoodfoundation.org/vision.</li>
      <li>Waller, John C. <em>Health and Wellness in 19th-Century America</em>. Santa Barabara: Greenwood, 2014.</li>
      <li>Waln, Robert Jr. <em>An Account of the Asylum for the Insane, Established by the Society of Friends, Near Frankford, in the Vicinity of Philadelphia</em>. Philadelphia: Benjamin and Thomas Kite, 1825.</li>
      <li>de Young, Mary. <em>Encyclopedia of Asylum Therapeutics, 1750-1950s</em>. Jefferson, NC: McFarland & Company, Inc., Publishers, 2015.</li>     
    </ul>

<a name="further-reading"></a>
<h4>Further Reading</h4>
  <ul>
    <li>Barbour, Hugh and J. William Frost.<em> The Quakers</em>. New York: Greenwood Press, 1988. </li>
    <li>Brodsky, Alyn.<em> Benjamin Rush: Patriot and Physician</em>. New York: Truman Talley Books, 2004.</li>
    <li>Cherry, Charles L.<em> A Quiet Haven: Quakers, Moral Treatment, and Asylum Reform</em>. Cranbury, NJ: Associated University Presses, 1989.</li>
    <li>Delbourgo, James. <em>A Most Amazing Scene of Wonders: Electricity and Enlightenment in Early America</em>. Cambridge: Harvard University Press, 2006. </li>
    <li>Deutsch, Albert.<em> The Mentally Ill in America: A History of their Care and Treatment from Colonial Times</em>. New York: Columbia University Press, 1967.</li>
    <li>Evans, Charles.<em> Account of the Asylum for the Relief of Persons Deprived of the Use of their Reason near Frankford, Pennsylvania: with the Statistics of the Institution from its Foundation to the 31st 12th month, 1838</em>. Philadelphia: T.K. and P.G. Collins, 1839.</li>
    <li>“Glossary of Quaker Terms and Concepts.”<em> New York Yearly Meeting</em>. Accessed July 14, 2015. http://www.nyym.org/?q=glossary.</li>
    <li>Goodheart, Lawrence B. <em>Mad Yankees: The Hartford Retreat for the Insane and Nineteenth-Century Psychiatry</em>. Boston: University of Massachusetts Press, 2003.</li>
    <li>Gough, John Parker. <em>An Essay on Cantharides; Comprising a Brief Account, of their Natural History, an Inquiry into their Mode of Operation, and their use in Diseases: with Some Remarks Relative to the Time when they Should be Employed</em>. Philadelphia: Way and Groff, 1800. </li>
    
    <li>Ingle, Larry H.<em> Quakers in Conflict: The Hicksite Reformation</em>. Knoxville: University of Tennessee Press, 1986.
    <li>Porter, Roy. Madness:<em> A Brief History</em>. Oxford: Oxford University Press, 2002.</li>
    <li>“Quakers and Slavery Glossary.”<em> Quakers and Slavery</em>. Accessed July 14, 2015. http://trilogy.brynmawr.edu/speccoll/quakersandslavery/resources/glossary.php.</li>
    <li>Scull, Andrew.<em> Madness: A Very Short Introduction</em>. Oxford: Oxford University Press, 2011.</li>
    <li>Tomes, Nancy. <em>A Generous Confidence: Thomas Story Kirkbride and the Art of Asylum-Keeping, 1840-1883</em>. New York: University of Cambridge Press, 1984.</li>
  </ul>



  <h4>Resources About Other Asylums</h4>
  <p>Information about other mental hospitals from the same period:</p>
    <ul>
      <li>For more information on nineteenth-century asylum architecture, explore the National Building Museum's exhibit, <i><a href="https://www.nbm.org/exhibition/architecture-asylum-st-elizabeths-1852-2017" target="_blank">Architecture of an Asylum: St. Elizabeth's 1852-2017</a></i>. Both the Friends' Asylum and St. Elizabeth's Asylum operate to this day as hospitals, in Philadelphia and Washington, D.C., respectively. Unlike Friends' Hospital, St. Elizabeth's is federally-operated.</li>
      <li>Though they were not officially affiliated with Quakerism, other asylums from the same time period as Friends' Asylum employed or were funded by famous Quakers. Prominent Quakers at other asylums include <a href="http://www.uphs.upenn.edu/paharc/timeline/1801/tline14.html" target="_blank"> Dr. Thomas Kirkbride</a>, a physician who worked at Friends' Asylum before heading Pennsylvania Hospital and <a href="https://mhdh.library.columbia.edu/exhibits/show/bloomingdaleasylum/a-model-institution" target="_blank">Thomas Eddy</a>, a philanthropist on the board of New York Hospital.</li>
      <li><a href="http://www.coloredinsaneasylums.org" target="_blank">The Central State Hospital Digital Library and Archives Project</a> includes the records of the Central State Hospital, the first mental health institution in the United States for African-Americans. It opened in 1870 and is still operational. The hospital has operated in several locations in Virginia. Items found in the collection include board minutes, annual reports, procedural manuals, financial reports, patient registers, photos, and newsletters.</li>
      <li>The Library at Wellcome Collection houses <a href="https://wellcomelibrary.org/collections/digital-collections/mental-healthcare/the-retreat" target="_blank">papers on the York Retreat</a> founded by Quakers in York, England, in 1796. The York Retreat served as a model for Friends' Hospital.</li>
    </ul>

<h5 class="prev-next" style="text-align:center;"><a href="{% url 'home' %}">Back to Homepage</a></h5>


{% endblock %}
