
{% extends "base.html" %}
{% load staticfiles %} 

{% block content %}

<link rel="stylesheet" href="{% static 'css/elements.css' %}">

<title>Essays | Quakers &amp; Mental Health</title>

<h4>“There are Extraordinary Circumstances in a Mental Hospital:” Medical Racism and the Exclusion of Black Patients and Staff at Friends Hospital from 1870 to 1948</h4>
<h5>Kate Scully '22</h5>
<h5>Summer 2021</h5>
<p><a href="{% static 'essays/21scully.pdf' %}">Download the essay as PDF</a>.</p>

<object data="{% static 'essays/21scully.pdf' %}" type="application/pdf" width="100%" height="900">
	<iframe src="{% static 'essays/21scully.pdf' %}" width="100%" height="900">
	<p>Your browser does not support PDFs. <a href="{% static 'essays/21scully.pdf' %}">Download the essay as PDF</a>.</p>
	</iframe>
</object>

<h5 class="prev-next"><span style="float: left;"><a href="{% url 'home' %}">Back to Homepage</a></span><span style="float: right;"><a href="{% url 'essays' %}">View All Essays</a></span></h5>

{% endblock %}
