
{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


<link rel="stylesheet" href="{% static 'css/glossary.css' %}">
<title>Glossary | Quakers &amp; Mental Health</title>


<h2>Glossary</h2>

<div id="glossary">
<!-- see "views.py" for cotent in glossary_list object, a dict -->

<table>

  <tr>
    <th>Term</th>
    <th>Meaning</th>
  </tr>
  
  {% if glossary_list %}
    {% for glossary in glossary_list %}
      <tr>
        <td>{{ glossary.0 }}</td>
        <td>{{ glossary.1 }}</td>
      </tr>
    {% endfor %}
  {% endif %}  

</table>

</div><!-- id="glossary" -->


<h5 class="prev-next" style="text-align:center;"><a href="{% url 'home' %}">Back to Homepage</a></h5>


{% endblock %}

