
{% extends "base.html" %}
{% load staticfiles %}

{% block content %}


<link rel="stylesheet" href="{% static 'css/glossary.css' %}">
<title>Glossary | Quakers &amp; Mental Health</title>


<h2>Glossary</h2>

<div id="glossary">
<!-- see "views.py" for cotent in glossary_list object, a dict -->

<table>

  <tr>
    <th>Term</th>
    <th>Meaning</th>
  </tr>
 
  <tr>
        <td>Birthright Friend</td>
        <td>Someone who was born to Quaker parents; it is assumed that they will grow up to be a Quaker and a full member of their Meeting.</td>
  </tr>
<tr><td>Blister</td><td>A plaster made out of the crushed wings of the Spanish fly, cantharides; when put on the skin, the plaster raises a blister, which was meant to draw out the excess blood causing a patient’s insanity, and also distract the patients from his or her “disordered” thoughts.</td></tr>
<tr><td>Business Meeting</td><td>Also called a "Meeting for Worship with Attention to Business"; conducted out of the silence like Meeting for Worship, Business Meeting is when Quakers meet to carry out the Meeting's business; decisions that come out of Business Meeting are thought to be divinely inspired.</td></tr>
<tr><td>Concern</td><td>A divinely inspired interest in some issue; an individual or a group of Quakers might feel led to work on a concern; for example, Bonsall describes the Asylum as a concern.</td></tr>
<tr><td>Continuing Revelation</td><td>The idea that God is still revealing the Truth to us, and that we must listen for the voice of God and act on that Truth; this idea is at the heart of Quaker faith and practice.</td></tr>
<tr><td>Convinced Friend</td><td>Someone who was not born Quaker, but becomes "convinced" of Quaker truth and therefore joins a Meeting.</td></tr>
<tr><td>Disowned</td><td>See “read out of Meeting”; in this context, disowned refers to the actions of a Quaker’s Meeting, not necessarily their family.</td></tr>
<tr><td>Elders</td><td>"A small group of men and women appointed to assist and also oversee the ministers" (BMC Quakers and Slavery Glossary).</td></tr>
<tr><td>Fatuity</td><td>Someone is in a "state of fatuity" when they lose the use of their reason later in life; it is assumed that people do not recover from a state of fatuity; the Asylum does care for these people, despite its preference for patients who can recover.</td></tr>
<tr><td>First Day, Second Day, etc.</td><td>Sunday; Monday; Early Quakers disapproved of using the "pagan" names for days of the week, so Sunday became First Day, Monday Second Day, and so on; the same process applies to months, making January First Month, etc.</td></tr>
<tr><td>Friend</td><td>A Quaker; Quakers may call each other Friend ____ or refer to someone as a Friend; nineteenth century Quakers are much more likely to refer to themselves and each other as Friends than Quakers.</td></tr>
<tr><td>Hicksite Quakers</td><td>Named after the controversial minister Elias Hicks, whose preaching inflamed tensions in the Religious Society of Friends; Hicksite Quakers began after the 1827 split; Hicksite Quakers tended to be rural and/or poorer than Orthodox Quakers; they put more emphasis on the importance of continuing revelation and the Inner Light; they objected to the power structure that meant a lot of people were getting disowned.</td></tr>
<tr><td>Idiot</td><td>In nineteenth century medical parlance, the term idiot referred to someone who had displayed "lack of reason" since birth; idiots fell outside of the Asylum's concern.</td></tr>
<tr><td>Inner/Inward Light</td><td>The Inner Light is the small part of God that Quakers believe is in each person; Quakers try to recognize the Inner Light in others, and listen to their own Inner Light (that is, continuing revelation); it is often described as speaking in a "still, small voice."</td></tr>
<tr><td>Leading</td><td>A divine feeling that a Quaker gets, telling him or her to must do some action; a leading can make a Quaker take up a concern.</td></tr>
<tr><td>Mania</td><td>One of the two main types of insanity described in the nineteenth century; mania described any kind of wild or crazy behavior, like fits or ranting, etc.</td></tr>
<tr><td>Meeting for Sufferings</td><td>A committee of Quakers who meet to assist Quakers who suffer for their religious beliefs; for example, Quakers who were persecuted for their pacifism or anti-slavery work might ask for help from the Meeting for Sufferings; the nineteenth century Meeting for Sufferings was made up of very influential Quaker men.</td></tr>
<tr><td>Meeting for Worship</td><td>A time when Quakers gather in silence to listen for that of God within them; if someone feels led to share a message out of the silence, they stand and do so; in the nineteenth century it was mostly recorded ministers who spoke.</td></tr>
<tr><td>Melancholy</td><td>Melancholy was thought to be one of the two main forms of insanity; melancholy corresponds fairly well to modern-day depression.</td></tr>
<tr><td>Monthly Meeting</td><td>The basic unit of Quaker religious structure; a Monthly Meeting is the Meeting a Quaker worships with on a regular basis; it is called a Monthly Meeting because it meets to take care of business once a month.</td></tr>
<tr><td>Orthodox Quakers</td><td>Formed during the Hicksite-Orthodox schism in 1827; Orthodox Quakers moved more towards standard Protestantism; they were on top of the Quaker power structure, and they were uneasy with what they saw as the Hicksite Friends' dismissal of the Bible as a source of authority.</td></tr>
<tr><td>Out of the Silence</td><td>Usually part of the phrase "to speak out of the silence"; this refers to what happens when people feel led to speak during Meeting for Worship and/or Business-they speak out of the silence; it comes from the fact that there should be silence before and after someone speaks.</td></tr>
<tr><td>Philadelphia Yearly Meeting (PYM)</td><td>The biggest Yearly Meeting in the United States in the nineteenth century, and the heart of American Quakerism; the Asylum was founded for the use of Quakers associated with PYM.</td></tr>
<tr><td>Preparatory Meeting</td><td>A Preparatory Meeting is one that is too small or new to be a Monthly Meeting; it may become one in the future.</td></tr>
<tr><td>Professor</td><td>Someone who is not technically a member of a Meeting, but believes ("professes") Quaker doctrine; a spouse/child of a Quaker, or someone who attends Quaker meetings, but hasn't yet become a full member.</td></tr>
<tr><td>Quarterly Meeting</td><td>"Meetings for business held four times per year, attended by representatives of all monthly meetings in a region; an intermediary between the monthly and yearly meeting, serves as an appellate body for disciplinary matters, and considers problems too large for a local meeting to solve; holds the authority to establish or discontinue a monthly, preparative, or particular meeting for worship" (BMC Quakers and Slavery Glossary).</td></tr>
<tr><td>Read out of Meeting</td><td>Being disowned from one's Meeting; could happen if someone married a non-Quaker (or married without the consent of the Meeting), or joined the military, etc.</td></tr>
<tr><td>Recorded Minister</td><td>Someone who is recognized by their Meeting as having a gift for vocal ministry (that is, speaking during Meeting for Worship); in the nineteenth century, it was unusual for people who were not recorded ministers to speak often during Meeting; both men and women could be recorded as ministers.</td></tr>
<tr><td>"That of God in Everyone"/"That of God"</td><td>A phrase used to describe the Inner Light, the idea that each person has something of God in them, which they can listen to for guidance.</td></tr>
<tr><td>Traveling Minister</td><td>A minister who feels called, with the support of his or her Meeting, to travel to Quaker Meetings in other places and minister to them; traveling ministers often traveled in pairs, and could be away on trips for years.</td></tr>
<tr><td>Visiting Manager</td><td>The Asylum's Visiting Managers were in charge of admitting and discharging patients; they inspected the Asylum once a week and the superintendent's accounts once a month; there were four of them at a time, and they served two-month terms.</td></tr>
<tr><td>Weighty Friend</td><td>A Quaker who is widely thought to have spiritual wisdom and Quaker expertise.</td></tr>
<tr><td>Witness</td><td>An action taken by a Quaker because of a leading or a concern; a witness is meant to demonstrate the Truth about some social/religious issue; for example, an early Quaker’s witness might have been to interrupt a sermon argue with the priest.</td></tr>
<tr><td>Yearly Meeting</td><td>A Quaker organizational structure made up of many monthly and preparatory meetings; called a Yearly Meeting because it meets once a year to do business.</td></tr>

  <!--{% if glossary_list %}
	{% for glossary in glossary_list %}
         <tr>
          <td>{{ glossary.0 }}</td>
          <td>{{ glossary.1 }}</td>
         </tr>
	 
	{% endfor %}
      {% endif %} --> 

</table>

</div><!-- id="glossary" -->


<h5 class="prev-next" style="text-align:center;"><a href="{% url 'home' %}">Back to Homepage</a></h5>


{% endblock %}

