
{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/learn.css' %}">
<title>Changes Over Time | Quakers &amp; Mental Health</title>

<link rel="stylesheet" href="{% static 'css/organization.css' %}">

<h3>Changes in the Administration Over Time</h3>

<p style="color:grey; padding-left=2em;">
  Tree charts may not load properly on small screens<br>
  Hover mouse over the positions for more details
</p>

<article>
<h4>1813-1817: Founding</h4>

<p>The proposal by Thomas Scattergood and two Quarterly Meetings in the Philadelphia area to create an asylum that would treat Pennsylvania Quakers was considered by the Yearly Meeting of Philadelphia, until in 1813 the Yearly Meeting officially moved forward with the founding of Friends Asylum, with Quakers who were willing to give money to support the project forming the Contributors to the Asylum. The Managers’ Committee and Building Committee were appointed by the contributors to plan and construct the asylum, until it was able to open for patients in 1817.</p>

<div class="tree">

  <ul>
    <li>
      <a title="Made up of representatives from meetings and individual Quakers who gave above a certain amount of money to support Friends Asylum. The Contributors met once a year to make large decisions about the business and welfare of Friends Asylum.">Contributors</a>
      <ul>
        <li>
          <a title="The main organizing body for Quaker meetings in the Philadelphia area, the Philadelphia Yearly Meeting heard Thomas Scattergood’s arguments for a Quaker asylum and helped organize the Contributors before its founding.">Philadelphia Yearly Meeting</a>
          <ul>
            <li>
              <a title="The Managers’ Committee developed a constitution that the asylum would follow and determined how it would carry out its mission.">Managers Committee</a>
            </li>
            <li>
              <a title="The Building Committee was responsible for acquiring and surveying the land to build Friends Asylum, and then designing the building itself and overseeing its construction.">Building Committee</a>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

</div><!-- class="tree" -->

</article>

<article>
<h4>1817-1850: First Decades</h4>

<p>After opening in 1817, Friends Asylum needed staff to fill all the roles required to care for and treat its patients. It also needed a governing structure, to ensure that all the tasks and requirements for an asylum to run smoothly were attended to. Many of the methods used were based on practices from the earlier York Retreat, and moral treatment was usually viewed as the way to cure patients of their mental illness, with medical care only being used as thought necessary.</p>

<div class="tree">

  <ul>
    <li>
      <a title="The treasurer was a member of the Board of Managers who was also responsible for taking up yearly donations from the Contributors and managing the asylum’s finances.">Treasurer</a>
    </li>
    <li>
      <a title="Made up of representatives from meetings and individual Quakers who gave a significant amount of money to support Friends Asylum. The Contributors met once a year to make large decisions about the business and welfare of Friends Asylum.">Contributors</a>
      <ul>
        <li>
          <a title="The twenty members of Board of Managers were chosen from the Contributors to the Asylum at the yearly meeting of the Contributors. They approved the admission of new patients, set the weekly rate they paid, and supervised the staff and expenditures of Friends Asylum. Members of the Board of Managers also rotated as Visiting Managers, who visited and inspected the asylum once a week, as well as examining the superintendent’s account books every month.">Board of Managers</a>
          <ul>
            <li>
              <a title="The superintendent lived at the asylum and was responsible for the day-to-day welfare and treatment of the patients, as well as running the farm and the household. He also oversaw the attendants in their work of caring for the patients.">Superintendent</a>
              <ul>
                <li>
                  <a title ="Outside of those who worked with the patients, Friends Asylum also hired staff to cook and clean, to maintain the building and grounds, and as needed for specialized roles like coach driving or engineering the heating systems.">Other Staff</a>
                </li>
                <li>
                  <a title="At first the matron was the superintendent’s wife, though by the end of the 19th century the matron was often appointed. The matron also worked with the superintendent to run the asylum and its farm, and directly oversaw the attendants along with the other staff.">Matron</a>
                  <ul>
                    <li>
                      <a title="The attendants, also called keepers or caretakers, worked with the patients directly to care for them, supervise them, entertain them, and clean them. Attendants were responsible for the wellbeing of patients, and so Friends Asylum was often concerned with finding trustworthy workers who would approach their duties responsibly and conscientiously.">Attendants</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
            <li>
              <a title="Sometimes called the physician-in-chief, the attending physician worked with the resident physician to oversee the diet and medical care of the patients, as the superintendent before 1850 did not have medical expertise.">Attending Physicians</a>
              <ul>
                <li>
                  <a title="Assistant physicians were doctors who worked at the asylum to help care for patients, though they had less authority. In the early years, there were only a small number of assistants, their numbers increased as the number of patients and the needs of the asylum increased.">Assistant Physicians</a>
                </li>
                <li>
                  <a title="The resident physician, along with the attending physician, also oversaw all the medical aspects of patient treatment. The resident physician lived at the asylum in order to always be on hand in casef one of the patients might need medical assistance.">Resident Physician</a>
                  <ul>
                    <li>
                      <a title="The consulting physicians did not regularly work at the asylum or care for its patients. They were doctors in the Philadelphia area with their own practices, who were retained by the asylum to be called on if specialist expertise was needed for a particular case.">Consulting Physicians</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

</div><!-- class="tree" -->
</article>

<article>
<h4>1850-1888: Medical Management</h4>

<p>In 1850, the superintendent of the asylum took over the duties of the head physician. With moral treatment now considered a medical practice, it was considered important for the superintendent to understand and manage all aspects of patient treatment rather than splitting authority between the superintendent and the medical department. </p>

<div class="tree">

  <ul>
    <li>
      <a title="The treasurer was a member of the Board of Managers who was also responsible for taking up yearly donations from the Contributors and managing the asylum’s finances.">Treasurer</a>
    </li>
    <li>
      <a title="Made up of representatives from meetings and individual Quakers who gave a significant amount of money to support Friends Asylum. The Contributors met once a year to make large decisions about the business and welfare of Friends Asylum.">Contributors</a>
      <ul>
        <li>
          <a title="The twenty members of Board of Managers were chosen from the Contributors to the Asylum at the yearly meeting of the Contributors. The Board of Managers approved the admission of new patients, and set the weekly admission rate, and supervised the staff and financial spending of Friends Asylum. The Board of Managers also rotated as Visiting Managers, who visited and inspected the asylum once a week, as well as inspecting the superintendent’s account books every month.">Board of Managers</a>
          <ul>
            <li>
              <a title="After 1850, the superintendent was expected to have a medical background and was also the head physician, while still retaining his old responsibilities in overseeing staff, running the asylum, and seeing to the wellbeing of the patients.">Superintendent</a>
              <ul>
                <li>
                  <a title="In the beginning the matron was the superintendent’s wife, though by the end of the 19th century the matron was often appointed. The matron also worked with the superintendent to run the asylum and its farm, and directly oversaw the attendants along with the other staff.">Matron</a>
                  <ul>
                    <li>
                      <a title="The attendants, also called keepers or caretakers, worked with the patients directly to care for them, supervise them, entertain them, and clean them. Attendants were responsible for the wellbeing of patients, and so Friends Asylum was often concerned with finding trustworthy workers who would approach their duties responsibly and conscientiously.">Attendants</a>
                    </li>
                    <li>
                      <a title="Outside of those who worked with the patients, Friends Asylum also hired staff to cook and clean, to maintain the building and grounds, and as needed for specialized roles like coach driving or engineering the heating systems.">Other Staff</a>
                    </li>
                  </ul>
                </li>
                <li>
                  <a title="Assistant physicians were doctors who worked at the asylum to help care for patients, though they had less authority. In the early years, there were only a small number of assistants, their numbers increased as the number of patients and the needs of the asylum increased.">Assistant Physician</a>
                  <ul>
                    <li>
                      <a title="The consulting physicians did not regularly work at the asylum or care for its patients. They were doctors in the Philadelphia area with their own practices, who were retained by the asylum to be called on if specialist expertise was needed for a particular case.">Consulting Physicians</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

</div><!-- class="tree" -->
</article>

<article>
<h4>1888-1897: Incorporation</h4>

<p>In 1888, Friends Asylum was officially incorporated in Pennsylvania, in order to be more in line with state laws around private organizations. When they officially incorporated, the Contributors to the Asylum were replaced by the Corporation of Friends Asylum for the Insane. The creation of the position of president was a move away from the more egalitarian structure of Quaker meetings, and this period of incorporation can be seen as part of a broader trend of the Asylum becoming more concerned with competing as a business.</p>

<div class="tree">

  <ul>
    <li>
      <a title="Until 1888, meetings of the Contributors had been run and presided over by a clerk. After the Asylum was incorporated, the post of president was created to run the yearly meeting of the Corporation and also to oversee the asylum’s affairs.">President of the Corporation</a>
      <ul>
        <li>
          <a title="The treasurer was a member of the Board of Managers who was also responsible for taking up yearly donations from the Contributors and managing the asylum’s finances.">Treasurer</a>
        </li>
        <li>
          <a title="The Corporation functioned similarly to how the Contributors had, at least at first. Members joined either by individual donation or by representing a meeting that donated, and the Corporation met every year to discuss the business of the Asylum. However, the Corporation was no longer exclusively Quaker, as it advertised itself to other potential donors outside of Quaker meetings.">Corporation of Friends Asylum</a>
          <ul>
            <li>
              <a title="The twenty members of Board of Managers were chosen from the Contributors to the Asylum at the yearly meeting of the Contributors. The Board of Managers approved the admission of new patients, and set the weekly admission rate, and supervised the staff and financial spending of Friends Asylum. The Board of Managers also rotated as Visiting Managers, who visited and inspected the asylum once a week, as well as inspecting the superintendent’s account books every month.">Board of Managers</a>
              <ul>
                <li>
                  <a title="After 1850, the superintendent was expected to have a medical background and was also the head physician, while still retaining his old responsibilities in overseeing staff, running the asylum, and seeing to the wellbeing of the patients.">Superintendent</a>
                  <ul>
                    <li>
                      <a title="In the beginning the matron was the superintendent’s wife, though by the end of the 19th century the matron was often appointed. The matron also worked with the superintendent to run the asylum and its farm, and directly oversaw the attendants along with the other staff.">Matron</a>
                      <ul>
                        <li>
                          <a title="The attendants, also called keepers or caretakers, worked with the patients directly to care for them, supervise them, entertain them, and clean them. Attendants were responsible for the wellbeing of patients, and so Friends Asylum was often concerned with finding trustworthy workers who would approach their duties responsibly and conscientiously.">Attendants</a>
                        </li>
                        <li>
                          <a title="Outside of those who worked with the patients, Friends Asylum also hired staff to cook and clean, to maintain the building and grounds, and as needed for specialized roles like coach driving or engineering the heating systems.">Other Staff</a>
                        </li>
                      </ul>
                    </li>
                    <li>
                      <a title="Assistant physicians were doctors who worked at the asylum to help care for patients, though they had less authority. In the early years, there were only a small number of assistants, their numbers increased as the number of patients and the needs of the asylum increased.">Assistant Physician</a>
                      <ul>
                        <li>
                          <a title="The consulting physicians did not regularly work at the asylum or care for its patients. They were doctors in the Philadelphia area with their own practices, who were retained by the asylum to be called on if specialist expertise was needed for a particular case.">Consulting Physicians</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

</div><!-- class="tree" -->
</article>

<article>
<h4>1897-1913: Separation of Powers</h4>

<p>In 1897, with new medical advancements and increasing challenges to the moral treatment model, the Corporation decided to create the post of Steward, which would manage all the responsibilities of running the asylum outside of treating the patients. The Corporation believed that placing staffing and operations in a separate position would relieve the superintendent’s workload and allow him to focus on patients.</p>

<div class="tree">

  <ul>
    <li>
      <a title="Until 1888, meetings of the Contributors had been run and presided over by a clerk. After the Asylum was incorporated, the post of president was created to run the yearly meeting of the Corporation and also to oversee the asylum’s affairs.">President of the Corporation</a>
      <ul>
        <li>
          <a title="The treasurer was a member of the Board of Managers who was also responsible for taking up yearly donations from the Contributors and managing the asylum’s finances.">Treasurer</a>
        </li>
        <li>
          <a title="The Corporation functioned similarly to how the Contributors had, at least at first. Members joined either by individual donation or by representing a meeting that donated, and the Corporation met every year to discuss the business of the Asylum. However, the Corporation was no longer exclusively Quaker, as it advertised itself to other potential donors outside of Quaker meetings.">Corporation of Friends Asylum</a>
          <ul>
            <li>
              <a title="The twenty members of Board of Managers were chosen from the Contributors to the Asylum at the yearly meeting of the Contributors. The Board of Managers approved the admission of new patients, and set the weekly admission rate, and supervised the staff and financial spending of Friends Asylum. The Board of Managers also rotated as Visiting Managers, who visited and inspected the asylum once a week, as well as inspecting the superintendent’s account books every month.">Board of Managers</a>
              <ul>
                <li>
                  <a title="After 1897, the superintendent was solely concerned with the patients and with overseeing all the nurses and doctors in the medical department.">Superintendent</a>
                  <ul>
                    <li>
                      <a>Doctors</a>
                    </li>
                    <li>
                      <a title="In the beginning the matron was the superintendent’s wife, though by the end of the 19th century the matron was often appointed. The matron also worked with the superintendent to run the asylum and its farm, and directly oversaw the attendants along with the other staff.">Matron</a>
                      <ul>
                        <li>
                          <a title="By 1894, the attendants who worked with and cared for the patients were expected to be trained nurses, and had become part of the medical department.">Nurses</a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                </li>
                <li><a title="The steward was in charge of all the details of the asylum that were not directly related to treating the patients, such as maintaining the building and grounds, running the farm, and directing non-medical staff.">Steward</a>
                  <ul>
                    <li>
                      <a title="Outside of those who worked with the patients, Friends Asylum also hired staff to cook and clean, to maintain the building and grounds, and as needed for specialized roles like coach driving or engineering the heating systems.">Other Staff</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

</div><!-- class="tree" -->
</article>

<h5 class="prev-next"><span style="float: left;"><<< Previous Article: <a href="{% url 'learn_structureAndGovernance' %}">Structure &amp; Governance</a></span><span style="float: right;">Next Article: <a href="{% url 'learn_asylumArchitecture' %}">Asylum Architecture >>></a></span></h5>


{% endblock %}
