
{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/elements.css' %}">
<title>Gender &amp; Treatment | Quakers &amp; Mental Health</title>


<h2>Gender and Death</h2>


<figure class="header">
  <img src="{% static 'images/header_gender_treatment.jpg' %}" alt="Photograph of the asylum's gymnasium" title="Photograph of the Asylum's Gymnasium">
  <figcaption><em>Friends’ Asylum for the Insane: Reports of the Board of Managers</em>…. Philadelphia: George H. Buchanan and Company, 1894.</figcaption>
</figure><!-- class="header" -->

<article>
  <h3>Medical Treatment and Diagnosis</h3>
  <p>For the most part it appears that male and female patients were admitted at similar rates, diagnosed with the same mental illnesses, and thought to be equally susceptible to insanity (<a href = "#" data-reveal-id = "aModal">Appendix B</a>). However, there are some differences in what was listed as men’s and women’s causes of insanity. Women were much more likely to be admitted due to insanity caused by gynecological issues while men were more likely to be admitted due to insanity caused by intemperance or a lack of restraint, often caused by alcohol. Obviously, men were not diagnosed with insanity due to gynecological issues but it is rare for women to be admitted due to intemperance.</p>
  <figure class="in-text fullwidth">
    <img class="in-text fullwidth" src="{% static 'images/GenderDeath.png' %}" alt="Gender and Death" title="Gender and Death">
  </figure>

</article>


<h5 class="prev-next"><span style="float: left;"><<< Previous Article: <a href="{% url 'learn_genderAndLengthOfStay' %}">Gender and Length of Stay</a></span><span style="float: right;">Next Article: <a href="{% url 'learn_moralTreatmentAndFamily' %}">Moral Treatment and Family >>></a></span></h5>


<hr>

<h3>Footnote</h3>

       <div id = "aModal" class = "reveal-modal small" data-reveal aria-labelledby = "aTitle" aria-hidden = "true" role= "dialog"><p id = "aTitle">Patricia D’Antonio, <em>Founding Friends: Families, Staff, and Patients at the Friends’ Asylum in Early Nineteenth-Century Philadelphia</em> (Bethlehem, PA: Lehigh University Press, 2006).</p>
        <a class = 'close-reveal-modal' aria-label= "Close">&#215;</a>
       </div>
       <div id = "bModal" class = "reveal-modal small" data-reveal aria-labelledby = "bTitle" aria-hidden = "true" role= "dialog"><p id = "bTitle">Minutes of the Managers, Friends Hospital Records, Quaker and Special Collections, Haverford College, Haverford, Pennsylvania.</p>
        <a class = 'close-reveal-modal' aria-label= "Close">&#215;</a>
       </div>
       <div id = "cModal" class = "reveal-modal small" data-reveal aria-labelledby = "cTitle" aria-hidden = "true" role= "dialog"><p id = "cTitle"> Minutes of the Corporation, Friends Hospital Records, Quaker and Special Collections, Haverford College, Haverford, Pennsylvania.</p>
        <a class = 'close-reveal-modal' aria-label= "Close">&#215;</a>
       </div>
       <div id = "dModal" class = "reveal-modal small" data-reveal aria-labelledby = "dTitle" aria-hidden = "true" role= "dialog"><p id = "dTitle">Mary de Young, <em>Encyclopedia of Asylum Theraputics, 1750-1950s</em> (Jefferson, NC: McFarland & Company, Inc., Publishers, 2015).</p>
        <a class = 'close-reveal-modal' aria-label= "Close">&#215;</a>
       </div>
       <div id = "eModal" class = "reveal-modal small" data-reveal aria-labelledby = "eTitle" aria-hidden = "true" role= "dialog"><p id = "eTitle">Henry M. Hurd, William F. Drewry, Richard Dewey, Charles W. Pilgrim, G. Alder Blumer, and T. J. W. Burgess, <em>The Institutional Care of the Insane in the United States and Canada</em> (Baltimore, MD: The Johns Hopkins Press, 1916).</p>
        <a class = 'close-reveal-modal' aria-label= "Close">&#215;</a>
       </div>
       <div id = "fModal" class = "reveal-modal small" data-reveal aria-labelledby = "fTitle" aria-hidden = "true" role= "dialog"><p id = "fTitle">Samuel Tuke, <em>Description of the Retreat, an Institution near York, for Insane Persons of the Society of Friends: Containing an Account of its Origin and Progress, the Modes of Treatment, and a Statement of Cases</em> (York: 1813)</p>
        <a class = 'close-reveal-modal' aria-label= "Close">&#215;</a>
       </div>

{% endblock %}
