
{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/learn.css' %}">
<link rel="stylesheet" href="{% static 'css/elements.css' %}">
<title>Case Studies | Quakers &amp; Mental Health</title>


<h3>Case Studies</h3>


<article>
  <p>Patients at the Asylum suffered from a variety of mental health issues. Due to Isaac Bonsall’s lack of medical knowledge and the subjective nature of his Day Book, it is often very difficult to form a complete picture of the ailments facing a patient from the information we have. However, there are enough hints to show the variety of types of mental illness the Asylum treated. Here are the stories of some patients who show the diversity of experiences at the Friends' Asylum.</p>
</article>

<article>
  <h4 class="collapsible">Nathan Yarnall and Mary Roberts</h4>
  <div class="content">
    <p>Nathan Yarnall and Mary Roberts both belonged to the class of patients who caused the Asylum staff the most work—they were both incontinent. Bonsall wrote frequently about the labor involved in keeping them clean. In an effort to keep Nathan Yarnall from soiling himself, Bonsall tried to shame him by making him wear a petticoat.<p>
<h5>Nathan Yarnall's New Clothes</h5>
<blockquote>"The Petticoat on Nathan [Yarnall] has had the desired effect both yesterday and today which saves us much trouble. He is ashamed of it and begs for his small Cloaths [sic.] or in the place of them Trowsers [sic.]. We tell him when he learns to behave himself well his Breeches shall be returned."<br><cite>-Isaac Bonsall, December 2, 1818</cite></blockquote>
<blockquote> “[Nathan’s father, a visiting manager,] was affected with seeing his Son have a Petticoat on but did not censure us and expressed a wish as it was mortifying to Nathan it should not be continued longer than necessary.<br><cite>-Isaac Bonsall, December 5, 1818</cite></blockquote>
<p>Although Bonsall’s treatment prevented Nathan Yarnall from soiling himself for a little while, it did not prove to be a lasting solution. Nathan Yarnall spent about 3 years in the Asylum before dying in a fever epidemic. Bonsall was unable to cure Mary Roberts either. Bonsall did not try to shame Mary Roberts into better behavior, perhaps reasoning that the method had not worked on Nathan Yarnall Instead, Mary Roberts’ husband asked to take her home with him, despite her continued illness. Bonsall expressed relief at this resolution.</p>
<h5>Mary Roberts Leaves the Asylum</h5>
<blockquote> "It is a great relief to [caretaker] Ruth Peirce that Mary [Roberts] is taken away on account of her filthiness and the Wing is much more comfortable now to the other Patients."<br><cite>-Isaac Bonsall, January 6, 1822</cite></blockquote>
  </div><!-- class="content" -->
</article>

<h4 class="collapsible">Alcoholism</h4>
<h4 class="collapsible">Religious Dilusion</h4>
<h4 class="collapsible">Violence</h4>
<h4 class="collapsible">Depression / Name - drowning treatment</h4>
<h4 class="collapsible">Anne Verree - a color patient</h4>


  <h5 class="prev-next"><span style="float: left;"><<< Previous Article: <a href="#">XXXXXXXX</a></span><span style="float: right;">Next Article: <a href="">XXXXXXXX >>></a></span></h5>

{% endblock %}
