
{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<!-- removed link to "foundation.css", "occu.css", "modernizr.js" -->
<link rel="stylesheet" href="{% static 'css/elements.css' %}">

<title>Patient Hometowns | Quakers &amp; Mental Health</title>


<h2>Patient Hometowns</h2>

<article>
  <h3>Where did the patients come from?</h3>
  <p>The Friends Hospital collection's <a href = "#" data-reveal-id = "myNewModal">Minutes and Register of the Committee of Admission, 1817-1856</a> provides valuable information about where the Asylum's earliest patients came from. A majority of the patients lived in the Philadelphia area prior to admittance. However, over time, the Asylum began to treat patients from the reaches of the United States at the time, as well as Canada, France, and Britain. The Friends’ Asylum often treated patients who came from the same place, establishing recognition and reputation throughout certain regions. The interactive map shows the increase in patients over time and some of the "hubs" which sent multiple patients to the Asylum. Drag the slider below to view patients' hometowns in a particular year. The size of each marker represents the number of patients sent from each location, and the color represents the year.</p>

<a id="mapboxPatientHometowns"></a>

<figure class="header"><!--- access mapbox from Alison's public token -->

{% include 'visual_mapboxPatientHometowns.html' %}

</figure>

</article>


<article>
  <p>As you may observe, a lot has changed since the first patients entered the asylum. For example, some patients' hometowns were recorded as places we consider to be neighborhoods of Philadelphia today, such as Germantown and Manayunk, because Philadelphia during the 1800s had not yet grown enough include those areas. Additionally, some entries in the collection's Minutes and Register of the Committee of Admission are ambiguous, listing only a state or region and no city. Additionally, state and national borders were still being drawn during the early days of the Asylum leave us with only a rough idea of where patients came from. With two entries stating only "Western Canada," and several entries specifying regions but not cities, it can be hard to place certain patients.</p>
</article>


<h5 class="prev-next"><span style="float: left;"><<< Previous Article: <a href="{% url 'learn_caseStudies' %}">Case Studies</a></span><span style="float: right;">Next Article: <a href="{% url 'learn_patientDemographics' %}">Patient Demographics >>></a></span></h5>


<hr>

<h3>Footnote</h3>
<div id ="myNewModal" class = "reveal-modal small" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role = "dialog">
  <p id ="modalTitle">Minutes and Register of the Committee of Admission, 1817-1856, Friends Hospital Records, Quaker and Special Collections, Haverford College, Haverford, Pennsylvania.</p>
  <a class = "close-reveal-modal" aria-label= "Close">&#215;</a>
</div>


<!--  foundation/jquery files -->

<script src="{% static 'old/jquery.js' %}"></script>
<script src="{% static 'old/foundation.min.js' %}"></script>
    
<!-- Google analytics script -->

<script>
 (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
 (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
 m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
 })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

 ga('create', 'UA-45185227-11', 'auto');
 ga('send', 'pageview');

</script>
<script>
      $(document).foundation();
</script>

{% endblock %}
