<!DOCTYPE html>

{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
    
<h2>Friends Hospital Admission Book 1817-1885</h2>

<iframe src="https://script.google.com/a/macros/haverford.edu/s/AKfycbzNmUvqDwadDeWD5He0C5z68P7F0sTgYzUnQEmwKkyjw3H72sFKjK-8s2Xo6ci76ycbOQ/exec" 
 height="600" width="100%"></iframe>

<!-- 
Paste the below link in your browser to edit the Apps Script code.  
https://script.google.com/home/projects/1OtR1KKYOPJ9OPbHCMo7jZq1DwuibZFgPncTAXPmZzjYT8fv9CUswyJuQ/edit

Refer to this link for the tutorial: 
https://www.bpwebs.com/pull-data-from-google-sheets-to-html-table/
  -->

{% endblock %}