<h2>Friends Hospital Admission Book 1817-1885</h2>

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>

<!-- $(document).ready( function () {
    $('#myTable').DataTable();
} ); -->

 <iframe width="100%" height="92%" loading="eager" src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQvbpMfaJZzDTt9CBpVSS2o6jZECoe8rRdHbMzlTEAhmXL-RH8HDfGlojbJ6yfv6_BRxG5Ot322nWz5/pubhtml?gid=738794162&amp;single=true&amp;widget=true&amp;headers=false"></iframe>
