
{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<title>Data Visualizations | Quakers &amp; Mental Health</title>

<h3>Monthly Patient Admission Frequency Heatmap</h3>
<p style="color:grey;">Graph will not resize once loaded</p>

    <div id="heatmap_monthly_admission"></div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{% static 'js/heatmapPatientMonthlyAdmissionFrequency.js' %}"></script>

<!-- reference: https://plot.ly/javascript/heatmaps/#basic-heatmap -->

<article>
  <p>This graph illustrates the frequency of admission in a certain month in the 19th century. Darker red shows that more patients were admitted in the certain month. We can see overall historical trends of patient admission to Friends Asylum, and ask questions such as "Why more patients were admitted during late 1830s? Did mental health receive more attention during that period, or was Friends Asylum in favor? Why were much less patients admitted in 1870s?"</p>
</article>

<h5 class="prev-next"><span style="float: left;"><a href="{% url 'visualizations' %}">Back to Gallery</a></span><span style="float: right;"><a href="{% url 'home' %}">Back to Homepage</a></span></h5>


{% endblock %}
