
{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

<title>Data Visualizations | Quakers &amp; Mental Health</title>

<h3>Philanthropists-Organizations Association Sankey Graph</h3>

<p style="color:grey; padding-left=2em;">
  Graph will not resize once loaded<br>
  Hover mouse over the graph for more details
</p>

    <div id="sankey_philanthropists_organizations_association"></div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="{% static 'js/sankeyPhilanthropistsOrganizationsAssociation.js' %}"></script>

<h5 class="prev-next"><span style="float: left;"><a href="{% url 'visualizations' %}">Back to Gallery</a></span><span style="float: right;"><a href="{% url 'home' %}">Back to Homepage</a></span></h5>


{% endblock %}

