
header .header-img {
    background-image: url("../images/FriendsAsylum-golden.jpg");
}

middle .column {
    float: left;
}

middle .column:after {
    clear: both;
    content: "";
    display: table;
}

middle .main-text {
    float: right;
    width: 79%;
    background-color: white;
}

middle .side-bar {
    width: 20%;
    background-color: white;
}

footer .background-color {
    clear: both;
    background-color: #ffdea6;
}

footer .icons {
    background-color: #ffdea6;
}

